[LegalNotice]
Accepted=true
[Preferences]
Bittorrent\MaxConnecs=500
Bittorrent\MaxConnecsPerTorrent=100
Bittorrent\MaxUploads=20
Bittorrent\MaxUploadsPerTorrent=10
Connection\PortRangeMin=8999
Connection\ResolvePeerCountries=true
Connection\UPnP=false
Downloads\SavePath={{ media_root }}/Incoming
Downloads\TempPath={{ media_root }}/Incoming/temp
Downloads\TempPathEnabled=true
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\x1\0\0\0\x36\0/\0v\0\x61\0r\0/\0m\0\x61\0i\0n\0/\0I\0n\0\x63\0o\0m\0i\0n\0g\0/\0t\0o\0r\0r\0\x65\0n\0t\0s\0\0\0\x2\0\0\0\x1$
Downloads\DownloadInScanDirs=0
General\Locale=en
Queueing\IgnoreSlowTorrents=true
Queueing\MaxActiveDownloads=4
Queueing\MaxActiveTorrents=100
Queueing\MaxActiveUploads=50
WebUI\Port=8080
WebUI\UseUPnP=false
WebUI\Username=vytautas
WebUI\Password_PBKDF2="@ByteArray(9DtCw2oRu+HIkiZ/Os0TZA==:FtNRrosc45CnNHTSbD2qososlDQNe57FWs9DM7rhxCu0+zQfNToSXEKeBko7I0b32FfSUteN98KDa+S8UfvJvg==)"
